div{
    background-color: #FFC0CB;
    line-height: 200px;
    text-align: center;
    vertical-align: middle;
}

.row:last-child  [class*='col-']{
    background-color: #F07F80;
    border: 2px solid white;
}

.row{
    border: 1px solid black;
}
.row:last-child::after{
    content: "";
    clear: both;
    display: table;
}


.left, .right{
    float: left;
    width: 50%;
    border: 1px solid black;
    background-color: #fff;
}