div {
    background-color: #FFC0CB;
    line-height: 200px;
    text-align: center;
}


.row:last-child [class*='col-'] > [class*='col-']{
    background-color: #F07F80;
    border: 2px solid white;
}

.row {
    border: 1px solid black;
}

.left,
.right {

    border: 1px solid black;
}